<div class="app-body" >
  <main class="main d-flex align-items-center bg" >
    <div class="container" >
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form (keyup.enter)="signIn()">
                  <h1>{{ 'Login' | translate }}</h1>
                  <p class="text-muted">{{ 'SignInYourAccount' | translate }}  <button type="button" class="btn btn-link px-0 pl-4" routerLink="/register">{{ 'RegisterNow' | translate }}</button></p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{ 'Username' | translate }}"  name="username"
                    [(ngModel)]="model.username" #fullname="ngModel" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}"  name="password"
                    [(ngModel)]="model.password" #fullname="ngModel" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="signIn()">{{ 'SignIn' | translate }}</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" href="#">{{ 'ForgotPassword' | translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h1>{{'APP_NAME' | translate }}</h1>
                  <img class="img-avatar" src="assets/img/brand/logoRHD.jpg" style="width: 120px; height: 120px;" alt="User Image">
                  <p></p>
                  <h5>{{ 'PoweredBy' | translate }} <a class="text-muted" style="text-decoration: none" href="http://www.spectrum-bd.com/" target="_blank">{{ 'SECL' | translate }}</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>